@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #ededed;
}

::-webkit-scrollbar {
  display: none;
}

html {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  min-height: 100%;
  scroll-behavior: smooth;
}

p {
  color: #64748b
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

section {
  padding-top: 6rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 1024px) {
  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  section {
    height: auto;
  }
}